header{
    box-sizing: border-box;
    padding: 0 5vw 0 5vw;
    background: rgb(24, 24, 24); 
    margin: 0vh 0 0 0;
    display: grid;
    grid-template-columns: 25vw 55vw;
    column-gap: 10vw;
    color: white; 
    font-family: 'prompt', sans-serif;
    border-top: none;
}
header section h1{
    font-weight: 900;
    font-size: 2.3vw;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    margin: 5vw 0 0 0vw;
}
.title-col{
    color: rgb(255, 214, 144);
}
header button{
    color: rgb(255, 255, 255, 1);
    font-family: "Anton", sans-serif;
    background: linear-gradient(to right, rgb(187, 125, 19)15%,rgb(192, 147, 70)45%, rgb(100,100,100));
    border: none;
    width: 18vw;
    border-radius: 5px;
    margin: 0 0 0 2vw;
    font-size: 1.9vw;
    z-index: 100;
}
header button:hover{
    color: black;
    background: linear-gradient(to bottom, rgb(155, 85, 15)40%,rgb(220, 172, 88));
}
header video{
    height: 50vh;
    width: 50vw;
    margin: 5vh 5vw 5vh 0 ;
    border-radius: 10px;
    border: 4px solid rgb(255, 255, 255, 0.1);
}
 .col-gr{
    background: linear-gradient(to bottom, rgb(152, 173, 44, 0.2)30%,rgb(62, 199, 187,0.1)25%,rgb(11, 235, 255,0.2) );
    width: 27vw;
    height: 50vh;
    position: absolute;
    top: 14vh;
    left: 0vw;
    filter: blur(100px);
    margin: 0;
}  
.stacks{
    display: grid;
    grid-template-columns: 6vw 9vw 9vw 4vw 4vw;
    grid-gap: 5vw;
    background: #ffffff1a;
    backdrop-filter: blur(35px); 
    box-shadow: 0 0 10px rgba(255, 255, 255, 1) -7px ;
    border-radius: 10px; 
    border: none;
    width:56vw ;
    margin: 8vh 0 4vh 12.4vw;
    padding: 0 2.6vw 0 5vw; 
    text-transform: uppercase;
    font-weight: bold;
    font-family: "prompt", sans-serif;
    font-size: 1.8vw;
    color: rgb(255, 255, 255,0.8);
}

@media all and (max-width:1028px){
    header{
        grid-template-columns: 80vw;
    }
    header section h1{
        font-size: 6.4vw;
    }
    header section p{
        font-size: 4vw;
    }
    header section button{
        font-size: 5.4vw;
        width: 80vw;
    }
    header video{
        height: 40vw;
        width: 76vw;
        margin: 4vh 0 0 3vw;
    }
    .col-gr{
        width: 59vw;
        left: 24vw;
    }
    .stacks{
        grid-template-columns: 60vw;
        font-size: 5.4vw;
        row-gap: 0.1vh;
        text-align: center;
        width: 66vw;
        margin-left: 6vw;
    }
    header article p{
        background-image: linear-gradient(to right, rgb(153, 110, 18)46%,rgb(200, 180, 50)15%, rgb(68, 55, 13));
        background-size: 100%;
        padding: 0 0 0 0;
         background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent; 
    }
    header article p:hover{
        background-image: linear-gradient(to right, rgb(99, 32, 5)46%,rgb(155, 71, 37)15%, rgb(219, 157, 139));
        background-size: 100%;
        padding: 0 0 0 0;
         background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent; 
    }
    
}