footer{
    box-sizing: border-box;
    color: white;
    background: rgb(37, 40, 47);
    padding: 0 5vw 0 10vw;
    font-family: "prompt", sans-serif;
    display: grid;
    grid-template-columns: 40vw 40vw;
    column-gap: 5vw;
}
footer section p{
    opacity: 0.7;
}
footer article{
    display: grid;
    grid-template-columns: 20vw 20vw;
}
footer h1{
    opacity: 0.9;
}
footer ul{
    padding: 0 0 0 0 ;
}
footer li{
    list-style: none;
    opacity: 0.7;
}
footer menu{
    /* background: red; */
    width: 92.4vw;
    margin: 0 0 0 -10vw;
}
footer menu p{
    text-align: center;
}

 @media all and (max-width:1028px){
    footer{
        grid-template-columns: 80vw;
    }
    footer article{
        column-gap: 30vw;
    }
    footer menu{
        margin: 0 0 0 -15.5vw;
    }
} 